* {
	margin: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 500;
	font-family: arial, sans-serif, serif;
}
a {
	text-decoration: none;
}
#hero {
	background: url('../img/content-bg.jpg') top center;
	background-size: cover;
	height: 500px;
}
#hero .container {
	width: 1100px;
	margin: 0 auto;
}
#hero .container .header {
	padding: 30px;
}
#hero .container .header .logo {
	height: 50px;
}
#hero .container h1 {
	color: white;
	font-size: 2.7rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}
#hero .container h2 {
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
}

#hero .container form {
	text-align: center;
	margin-top: 30px;
}
#hero .container form input[type=url] {
	width: 50%;
	padding: 17px 30px;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
}
#hero .container form input[type=submit] {
	cursor: pointer;
	padding: 17px 30px;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
	font-size: 1.3rem;
	background: #ee6123;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}
#hero .container .container {
	text-align: center;
}
#hero .container .container .result-form {
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 30px;
	display: inline-block;
	margin: 30px;
}
#brands {
	background: #c0e0ff;
	padding: 30px;
	text-align: center;
}
#brands .container {
	text-align: center;
}
#brands .container h3 {
	margin: 0;
	color: #ee6123;
	text-transform: uppercase;
	padding-bottom: 30px;
	text-align: center;
	font-weight: 550;
}
#brands .container .container .img-fluid {
	height: 35px;
	margin: 15px;
	cursor: pointer;
}
#footer .container {
	text-align: center;
	padding: 30px;
	font-size: 0.5rem;
}
#footer .container .img-fluid {
	height: 35px;
}
#footer .container .copyright {
	text-align: center;
}
#footer .container .nav-link a {
	color: #ee6123;
	font-weight: 550;
}